<div class="reportwidget">
    <div class="rw-permalink"><a href="@($"https://www.reddit.com{post.link}?context=3")">@post.id</a></div>
    <div class="rw-title">@post.title</div>
    <div class="rw-votes">@post.ups</div>
    <div class="rw-timestamp">@post.creation</div>
    <div class="rw-author"><a href="@($"https://www.reddit.com/user/{post.author}")">@post.author</a></div>
    <div class="rw-actions">
        @if (controls)
        {
            <ReportButton post="@post" action="@Db.PostState.Rejected" />
            <ReportButton post="@post" action="@Db.PostState.Pending" />
            <ReportButton post="@post" action="@Db.PostState.Approved" />
        }
    </div>
    <div class="rw-reports">
        @foreach (var report in post.reports)
        {
            <div class="rw-report">@report.count: @report.reason</div>
        }
    </div>
</div>

@code {
    [Parameter] public bool controls { get; set; }
    [Parameter] public Db.Post post { get; set; }
}
